body{
    margin: 0;
}

.bg{
    background-image: url('./assets/images/board2background.jpeg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons{
    position: absolute;
    top: 5rem;
    left: auto;
}

.grid{
    display: grid;
    grid-template-columns:  repeat(13, auto); 
    grid-template-rows: repeat(13, auto); 
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.domino-90{
    width:25px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domino-img{
    width:50px;
    height:25px;
    border: 1px solid black;
}


.domino-img90{
    transform:rotate(90deg);
}